<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>

    <meta charset="UTF-8"
    >
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Title</title>
    <style>
        a:active,
        a:hover,
        a {
            text-decoration: none;
            color: #666;
        }
    </style>

</head>
<body>
<div class="no-gutters ">
    <div class="row" style="background-color: #343a40; ">
        <div class="col">
            <div class="text-left" style=" color: #fffff3;margin-left: 20px; margin-top: 10px;margin-bottom: 10px">
                <strong><span sec:authentication="principal.login">Bob</span></strong> with roles:
                <span sec:authentication="principal.roles">roles</span>
            </div>
        </div>
        <div class="col">
            <div class="text-right" style="color:  #9a9787;margin-right: 10px;margin-top: 10px;

            margin-bottom: 10px;">
                <form th:action="@{/logout}" method="post">
                    <input class="button" style="background: transparent;color: #9a9787; border: none" type="submit" value="Logout"/>
                </form>
            </div>
        </div>
    </div>

    <div class="row" style="min-height: 1000px">
        <div class="col-2" style="margin-top: 20px; padding-right: 0px">
            <div sec:authorize="hasAuthority('ADMIN')">

                <form th:action="@{/admin}" method="get">
                    <input type="submit" value="   Admin" style="background-color: rgb(0,123,255); /* Green */
                            border: none;
                            color: white;
                            text-align: left;
                            text-decoration: none;
                            width: 100%;
                            height: 40px;
                            border-radius: 4px"/>
                </form>
            </div>
            <form th:action="@{/user}" method="get">
                <input type="submit" value="   User" style="background-color: white; /* Green */
                            border: none;
                            color: rgb(0,123,255);
                            text-align: left;
                            text-decoration: none;
                            width: 100%;
                            height: 40px;
                            "/>
            </form>
        </div>
        <div class="col-10" style="background-color: rgba(248,249,250,0.92)">

            <div style="margin-top: 20px">
                <h1>Admin panel</h1>

                <ul class="nav nav-tabs " style="margin-top: 20px;margin-right: 40px">
                    <li class="nav-item">
                        <a class="nav-link active" th:href="@{/admin}">Users table</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/admin/adduser}" style="color: rgb(0,123,255)">New user</a>
                    </li>
                </ul>

                <div class="card" style="margin-right: 40px">


                    <div class="card-header">
                        <h4>All users</h4>


                    </div>
                    <div class="card-block"
                         style="margin-top: 20px; margin-bottom: 50px;margin-left: 20px;margin-right: 20px;">

                        <table class="table table-striped">

                            <thead>

                            <tr>
                                <th th:scope="col">ID</th>
                                <th th:scope="col">First Name</th>
                                <th th:scope="col">Last Name</th>
                                <th th:scope="col">Age</th>
                                <th th:scope="col">Login</th>
                                <th th:scope="col">Role</th>
                                <th th:scope="col">Edit</th>
                                <th th:scope="col">Delete</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="user:${users}">
                                <td th:text="${user.getId()}">id</td>
                                <td th:text="${user.getFirstName()}">name</td>
                                <td th:text="${user.getSecondName()}">secondName</td>
                                <td th:text="${user.getAge()}">age</td>
                                <td th:text="${user.getLogin()}">login</td>
                                <td th:text="${user.getRoles()}">role</td>
                                <td>
                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editModal"
                                            th:attr="data-userid=${user.getId()},
                                             data-userfirstname=${user.getFirstName()},
                                              data-usersecondname=${user.getSecondName()},
                                               data-userage=${user.getAge()},
                                                data-userlogin=${user.getLogin()},
                                            data-userroles=${user.getRole()}">Edit</button>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal"
                                            th:attr="data-userid=${user.getId()},
                                             data-userfirstname=${user.getFirstName()},
                                              data-usersecondname=${user.getSecondName()},
                                               data-userage=${user.getAge()},
                                                data-userlogin=${user.getLogin()},
                                            data-userroles=${user.getRole()}">Delete</button>                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <form th:method="POST" th:action="@{/admin/edit}">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Edit user</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-center mx-auto">
                    <label for="editId"><strong>ID</strong> </label>
                    <input type="text" class="form-control" id="editId" name="id"readonly>

                    <label for="editFirstName"><strong>First Name</strong> </label>
                    <input type="text" class="form-control" id="editFirstName" name="firstName"/>

                    <br/>
                    <label for="editSecondName"><strong>Last Name:</strong> </label>
                    <input type="text" class="form-control" id="editSecondName" name="secondName"/>
                    <br/>
                    <label for="editAge"><strong>Age</strong></label>
                    <input type="number" class="form-control" id="editAge" name="age"/>
                    <br/>
                    <label for="editLogin"><strong>Email</strong></label>
                    <input type="text" class="form-control" id="editLogin" name="login"/>
                    <br/>
                    <label for="editPassword"><strong>Password</strong></label>
                    <input type="password" class="form-control" id="editPassword" name="password"/>
                    <br/>
                    <label for="editRoles"><strong>Roles</strong></label>
                    <select class="custom-select" size="2" id="editRoles" name="role">
                        <option th:each="role : ${T(com.example.boot3_1_1.model.Role).values()}"
                                th:value="${role}"
                                th:text="${role}">ROLE
                        </option>
                    </select>
                    <br/>
                    <br/>



                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Edit</button>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <form th:method="POST" th:action="@{/admin/delete}">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Delete user</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-center mx-auto">
                    <label for="editId"><strong>ID</strong> </label>
                    <input type="text" class="form-control" id="editId" name="id" readonly>

                    <label for="editFirstName"><strong>First Name</strong> </label>
                    <input type="text" class="form-control" id="editFirstName" name="firstName" readonly>

                    <br/>
                    <label for="editSecondName"><strong>Last Name:</strong> </label>
                    <input type="text" class="form-control" id="editSecondName" name="secondName " readonly>
                    <br/>
                    <label for="editAge"><strong>Age</strong></label>
                    <input type="number" class="form-control" id="editAge" name="age" readonly>
                    <br/>
                    <label for="editLogin"><strong>Email</strong></label>
                    <input type="text" class="form-control" id="editLogin" name="login" readonly>
                    <br/>

                    <label for="editRoles"><strong>Roles</strong></label>
                    <select class="custom-select" size="2" id="editRoles" name="roles" disabled>
                        <option th:each="role : ${T(com.example.boot3_1_1.model.Role).values()}"
                                th:value="${role}"
                                th:text="${role}">ROLE
                        </option>
                    </select>
                    <br/>
                    <br/>



                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-danger">Delete</button>
                </div>
            </div>
        </div>
    </form>
</div>
<script
        src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous"
></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script type="text/javascript" src="../static/main.js" th:src="@{/main.js}"></script>
</body>
</html>