<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>

    <meta charset="UTF-8"
    >
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Title</title>


</head>
<body>
<div style="display: none">
    <form id="params-for-js" name="params-for-js">
        <input id="isAdmin" th:value="${isAdmin}" th:name="isAdmin"/>
        <input id="userId" th:value="${userId}" th:name="userId"/>
    </form>
</div>

<div class="no-gutters ">
    <div class="row" style="background-color: #343a40; ">
        <div class="col">
            <div class="text-left" style=" color: #fffff3;margin-left: 20px; margin-top: 10px;margin-bottom: 10px"
                 id="user-info">
                <strong><span sec:authentication="principal.login">User login</span></strong> with roles:
                <span sec:authentication="principal.roles">roles</span>
            </div>
        </div>
        <div class="col">
            <div class="text-right" style="color:  #9a9787;margin-right: 10px;margin-top: 10px;

            margin-bottom: 10px;">
                <form th:action="@{/logout}" method="post" id="test">
                    <input class="button" style="background: transparent;color: #9a9787; border: none" type="submit"
                           value="Logout"/>
                </form>
            </div>
        </div>
    </div>

    <div class="row" style="min-height: 1000px">
        <div class="col-2" style="margin-top: 20px; padding-right: 0px">
            <div sec:authorize="hasAuthority('ADMIN')">

                <form>
                    <input type="submit" value="   Admin" id="open-admin-page" style="background-color: rgb(0,123,255); /* Green */
                            border: none;
                            color: white;
                            text-align: left;
                            text-decoration: none;
                            width: 100%;
                            height: 40px;
                            border-radius: 4px"/>
                </form>
            </div>
            <form>
                <input type="submit" value="   User" id="open-user-page" style="background-color: white; /* Green */
                            border: none;
                            color: rgb(0,123,255);
                            text-align: left;
                            text-decoration: none;
                            width: 100%;
                            height: 40px;
                            "/>
            </form>
        </div>
        <div class="col-10" style="background-color: rgba(248,249,250,0.92)" id="admin-page"
             sec:authorize="hasAuthority('ADMIN')">
            <div style="margin-top: 20px">
                <h1>Admin panel</h1>
                <ul class="nav nav-tabs" style="margin-top: 20px;margin-right: 40px" id="pills-tab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link active" id="all-users-tab" data-toggle="pill" href="#pills-all-users"
                           role="tab" aria-controls="pills-all-users" aria-selected="true">All users</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="add-user-tab" data-toggle="pill" href="#pills-add-user" role="tab"
                           aria-controls="pills-add-user" aria-selected="false">Add user</a>
                    </li>

                </ul>
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-all-users" role="tabpanel"
                         aria-labelledby="all-users-tab">
                        <div class="card" style="margin-right: 40px">


                            <div class="card-header">
                                <h4>All users</h4>


                            </div>
                            <div class="card-block"
                                 style="margin-top: 20px; margin-bottom: 50px;margin-left: 20px;margin-right: 20px;">

                                <table class="table table-striped">

                                    <thead>
                                    <tr>
                                        <th th:scope="col">ID</th>
                                        <th th:scope="col">First Name</th>
                                        <th th:scope="col">Last Name</th>
                                        <th th:scope="col">Age</th>
                                        <th th:scope="col">Login</th>
                                        <th th:scope="col">Role</th>
                                        <th th:scope="col">Edit</th>
                                        <th th:scope="col">Delete</th>
                                    </tr>
                                    </thead>
                                    <tbody id="dataTable">

                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                    <div class="tab-pane fade" id="pills-add-user" role="tabpanel" aria-labelledby="pills-profile-tab">
                        <div class="card" style="margin-right: 40px">
                            <div class="card-header">
                                <h4>Add new user</h4>
                            </div>
                            <div class="card-block text-center mx-auto"
                                 style="margin-top: 20px; margin-bottom: 50px;margin-left: 20px;margin-right: 20px;">

                                <form id="add-form" action="#pills-all-users">

                                    <label for="firstName"><strong>First Name</strong> </label>
                                    <input type="text" class="form-control" placeholder="First name" id="firstName"
                                           name="firstName"/>

                                    <br/>
                                    <label for="secondName"><strong>Last Name</strong> </label>
                                    <input type="text" class="form-control" placeholder="Last name" id="secondName"
                                           name="secondName"/>
                                    <br/>
                                    <label for="age"><strong>Age</strong></label>
                                    <input type="number" class="form-control" placeholder="Age" id="age" name="age"/>
                                    <br/>
                                    <label for="login"><strong>Email</strong></label>
                                    <input type="text" class="form-control" placeholder="Email" id="login"
                                           name="login"/>
                                    <br/>
                                    <label for="password"><strong>Password</strong></label>
                                    <input type="password" class="form-control" placeholder="Password" id="password"/>
                                    <br/>
                                    <label for="roles"><strong>Roles</strong></label>
                                    <select class="custom-select" id="roles" size="2" name="role">
                                        <option th:each="role : ${T(com.example.boot3_1_1.model.Role).values()}"
                                                th:value="${role}"
                                                th:text="${role}">ROLE
                                        </option>
                                    </select>
                                    <br/>
                                    <br/>
                                    <input class="btn btn-success" type="submit" id="add-user-button"
                                           value="Add new user">
                                    </br>
                                </form>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>

        <div class="col-10" style="background-color: rgba(248,249,250,0.92);display: none" id="user-page">
            <div style="margin-top: 20px">
                <h1>User information-page</h1>
            </div>
            <div class="card" style="margin-right: 40px">
                <div class="card-header">
                    <h4>About user</h4>
                </div>
                <div class="card-block"
                     style="margin-top: 20px; margin-bottom: 50px;margin-left: 20px;margin-right: 20px;">

                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th th:scope="col">ID</th>
                            <th th:scope="col">First Name</th>
                            <th th:scope="col">Last Name</th>
                            <th th:scope="col">Age</th>
                            <th th:scope="col">Login</th>
                            <th th:scope="col">Role</th>
                        </tr>
                        </thead>
                        <tbody id="user-data-table">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <form name="edit-form">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Edit user</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-center mx-auto">
                    <label for="editId"><strong>ID</strong> </label>
                    <input type="text" class="form-control" id="editId" name="id" readonly>

                    <label for="editFirstName"><strong>First Name</strong> </label>
                    <input type="text" class="form-control" id="editFirstName" name="firstName"/>

                    <br/>
                    <label for="editSecondName"><strong>Last Name:</strong> </label>
                    <input type="text" class="form-control" id="editSecondName" name="secondName"/>
                    <br/>
                    <label for="editAge"><strong>Age</strong></label>
                    <input type="number" class="form-control" id="editAge" name="age"/>
                    <br/>
                    <label for="editLogin"><strong>Email</strong></label>
                    <input type="text" class="form-control" id="editLogin" name="login"/>
                    <br/>
                    <label for="editPassword"><strong>Password</strong></label>
                    <input type="password" class="form-control" id="editPassword" name="password"/>
                    <br/>
                    <label for="editRoles"><strong>Roles</strong></label>
                    <select class="custom-select" size="2" id="editRoles" name="role">
                        <option th:each="role : ${T(com.example.boot3_1_1.model.Role).values()}"
                                th:value="${role}"
                                th:text="${role}">ROLE
                        </option>
                    </select>
                    <br/>
                    <br/>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" data-dismiss="modal" id="edit-button">Edit</button>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <form name="delete-form">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Delete user</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-center mx-auto">
                    <label for="deleteId"><strong>ID</strong> </label>
                    <input type="text" class="form-control" id="deleteId" name="id" readonly>

                    <label for="editFirstName"><strong>First Name</strong> </label>
                    <input type="text" class="form-control" id="deleteFirstName" name="firstName" readonly>

                    <br/>
                    <label for="deleteSecondName"><strong>Last Name:</strong> </label>
                    <input type="text" class="form-control" id="deleteSecondName" name="secondName " readonly>
                    <br/>
                    <label for="deleteAge"><strong>Age</strong></label>
                    <input type="number" class="form-control" id="deleteAge" name="age" readonly>
                    <br/>
                    <label for="deleteLogin"><strong>Email</strong></label>
                    <input type="text" class="form-control" id="deleteLogin" name="login" readonly>
                    <br/>

                    <label for="deleteRoles"><strong>Roles</strong></label>
                    <select class="custom-select" size="2" id="deleteRoles" name="roles" disabled>
                        <option th:each="role : ${T(com.example.boot3_1_1.model.Role).values()}"
                                th:value="${role}"
                                th:text="${role}">ROLE
                        </option>
                    </select>
                    <br/>
                    <br/>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-danger" data-dismiss="modal" id="delete-button">Delete</button>
                </div>
            </div>
        </div>
    </form>
</div>
<script
        src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous"
></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script type="text/javascript" src="../static/main.js" th:src="@{/main.js}"></script>

</body>
</html>