<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:method="POST" th:action="@{/admin/update/{id}(id=${user.getId()})}" th:object="${user}">
    <label for="firstName">User name: </label>
    <input type="text" th:field="*{firstName}" id="firstName"/>
    <br/>
    <label for="secondName">User second name: </label>
    <input type="text" th:field="*{secondName}" id="secondName"/>
    <br/>
    <label for="age">User age: </label>
    <input type="text" th:field="*{age}" id="age"/>
    <br/>
    <label for="login">User login: </label>
    <input type="text" th:field="*{login}" id="login"/>
    <br/>
    <label for="password">User password: </label>
    <input type="password" th:field="*{password}" id="password"/>
    <br/>
    <select th:field="*{role}">
        <option th:each="role : ${T(com.example.boot3_1_1.model.Role).values()}"
                th:value="${role}"
                th:text="${role}">text</option>
    </select>
    <br/>
    <input type="submit" value="Update">
    </br>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Sign Out"/>
    </form>
</form>

</body>
</html>